/* * {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
} */
body {
  background-image: url(amazon_logo.png);
  background-color: black;
  /* z-index: 1; */
}

/* .nav-logo {
  height: 50px;
  width: 100px;

  background-image: url(test2.png);
}
#logo {
  background-color: black;
  height: 50px;
  width: 100px;
} */

.lol {
  height: 300px;
  width: 400px;
  background-color: blue;
  background-image: url(amazon_logo.png);
  background-repeat: repeat;
  background-size: 300px 100px;
}
